<!doctype html>
<html>
<head>
<title>Hello AngularJS</title>
<!--<link
	href="css/angular-bootstrap.css"
	rel="stylesheet">-->
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>
<script src="js/hello.js"></script>
<script src="js/configuration.js"></script>
<script src="js/sync.js"></script>
<script src="js/home.js"></script>
<link href="css/home.css" rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="js/mapDirective.js"></script>

<!-- 	<script type="text/javascript">
	function initMap() {
		var map;
		 var mapOptions = {
		            center: new google.maps.LatLng(50, 2),
		            zoom: 4,
		            mapTypeId: google.maps.MapTypeId.ROADMAP,
		            scrollwheel: false
		        };
		
        if (map === void 0) {
            map = new google.maps.Map(document.getElementById('gmaps'), mapOptions);
        }
    } </script> -->
<!-- </script><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0bsq7Dbedo6M_v4OifXWeBIs_kKrRbyE&callback=initMap"></script> -->
<script src="js/maps.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts-ng/1.0.0/highcharts-ng.js"></script>

</head>

<body ng-app="hello">



	<div class="container" ng-controller="home as vm">

		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">GeXP</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
				</ul>
<!-- 				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							Sign Up</a></li>
					<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
							Login</a></li>
				</ul> -->


				<div class="pull-right">
					<ul class="nav pull-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Welcome, {{vm.authenticatedUser}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
				<!-- 				<li><a href="/user/preferences"><i class="icon-cog"></i>
										Preferences</a></li>
								<li><a href="/help/support"><i class="icon-envelope"></i>
										Contact Support</a></li> -->
						<!-- 		<li class="divider"></li> -->
								<li><a href="" ng-click="vm.logout()" ><i class="icon-off"></i>
										Logout</a></li>
							</ul></li>
					</ul>
				</div>
		</nav>



<div class="bottomDiv">
			<div class="leftDiv">
				<div class="dropdown customDropdown">
					<button class="btn btn-default dropdown-toggle dropdownButton"
						type="button" id="dropdownMenu1" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true">
						{{vm.selectedStatistic.identifier}} <span class="caret"></span>
					</button>

					<ul class="dropdown-menu dropdown-menu-right scrollable-menu"
						aria-labelledby="dropdownMenu1">
						<li ng-repeat="a in vm.statistics"><a href="#"
							ng-click="vm.changeStatistic(a)">{{a.identifier}}</a></li>
					</ul>
				</div>
				<div class="dropdown customDropdown"
					ng-if="vm.showDropdowns === true && vm.selectedStatistic.identifier !== 'Select Statistic'">
					<button class="btn btn-default dropdown-toggle dropdownButton"
						type="button" id="dropdownMenu1" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true">
						<span>{{vm.selectedCountry}}</span> <span class="caret"></span>
					</button>

					<ul class="dropdown-menu dropdown-menu-right scrollable-menu "
						aria-labelledby="dropdownMenu1">
						<li ng-repeat="a in vm.countries"><a href="#"
							ng-click="vm.changeCountry(a)">{{a}}</a></li>
					</ul>
				</div>
				<div class="dropdown customDropdown"
					ng-show="vm.showDropdowns === true && vm.selectedStatistic.identifier !== 'Select Statistic'">
					<button class="btn btn-default dropdown-toggle dropdownButton"
						type="button" id="dropdownMenu1" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="true">
						{{vm.selectedYear}} <span class="caret"></span>
					</button>

					<ul class="dropdown-menu dropdown-menu-right scrollable-menu"
						aria-labelledby="dropdownMenu1">
						<li ng-repeat="a in vm.years"><a href="#"
							ng-click="vm.changeYear(a)">{{a}}</a></li>
					</ul>
				</div>
				<div class="customDropdown" ng-show="vm.showDropdowns === true && vm.selectedStatistic.identifier !== 'Select Statistic'">
					<button class="btn btn-default dropdownButton" type="button"
						aria-expanded="true" ng-disabled="vm.selectedYear ==='Select Year'" ng-click="vm.selectStatistic()">
						Show Statistic <i class="fa fa-play" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div class="rightDiv" ng-if="vm.showMap == true">
				<div>{{vm.selectedStatistic.long_description}} {{vm.selectedYear}}</div>
				<div my-map="" type-id={{vm.prop}}></div>
			</div>
			<div class="rightDiv" ng-show="vm.showChart === true">
				<div class="row">
				    <div id="container"></div>
				</div>
			</div>
		</div>
	</div>
	<script>

	
	</script>
</body>
</html>