<body>

	<div class="container">

		<div class="row" id="pwd-container">
			<div class="col-md-4"></div>

			<div class="col-md-4">
				<section class="login-form">
					<form role="form" ng-submit="controller.login()">

						<input type="text" name="username" placeholder="Username"
							ng-model="controller.credentials.username" required
							class="form-control input-lg" /> <input type="password"
							class="form-control input-lg"
							ng-model="controller.credentials.password" id="password"
							placeholder="Password" required="true" />


						<div class="pwstrength_viewport_progress"></div>


						<button type="submit" class="btn btn-primary">Submit</button>
						<div>
							<a href="/register.html">Create account</a> or <a
								href="/home.html">continue as anonymous</a>
						</div>
						<div>{{controller.errorMessage}}
						</div>
					</form>
				</section>
			</div>
		</div>
	</div>
</body>